@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: Onest;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/OnestRegular1602-hint.woff) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Onest;
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/OnestLight1602-hint.woff) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Onest;
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/OnestMedium1602-hint.woff) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Onest;
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/OnestBold1602-hint.woff) format("woff2")
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

html, body {
  background-color: #faf9f6;
}

@layer hero {
  .hero-title {
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle,#00817a,#004781);
    -webkit-background-clip: text;
    background-clip: text;
  }
}